body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #083858f1;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #080202;
}

p {
    color: #000000;
    font-size: 18px;
    margin: 10px 0;
}

img {
    width: 300px;
    height: auto;
    margin-top: 20px;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fc1a1a;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.button:hover {
    background-color: #ff0000;
}
.rotate {
    animation: spin 0.6s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


